.error-page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  background-color: #eee;
}

.error-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
  height: 50%;
  background-color: #fff;
  box-shadow: 0 0 10px 3px rgba(0, 0, 0, 0.1);
}

.error-container h3 {
  margin: 0;
  font-size: 2rem;
  font-weight: 600;
  text-transform: uppercase;
}

.error-container p {
  margin: 1rem 0;
  font-size: 1.5rem;
  font-weight: 400;
}

.error-btn {
  padding: 0.5rem 1rem;
  border-radius: 5px;
  background-color: #222;
  color: #fff;
  font-size: 1.2rem;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.2s;
}
.error-btn:hover {
  background-color: #fff;
  color: #222;
}

@media (max-width: 600px) {
  .error-container {
    width: 75%;
    height: 75%;
  }
}
