.home {
  height: 100vh;
  background-color: #333;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.home h1 {
  font-size: 2rem;
  text-align: center;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 3px;
  animation: fadeIn 2s ease-in-out;
}

.home-link {
  color: #ffd700;
  text-decoration: none;
  font-weight: 700;
}

.home-link:hover {
  color: white;
  text-decoration: none;
}

.features {
  padding: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.features h2 {
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 20px;
  animation: fadeIn 2s ease-in-out;
}

.features ul {
  list-style: none;
  width: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
  animation: fadeIn 2s ease-in-out;
}

.features ul li {
  font-size: 1.2rem;
  margin: 15px 0;
  animation: fadeIn 2s ease-in-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
