@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

h1,
p {
  font-family: -apple-system, BlinkMacSystemFont, 'Poppins', Oxygen, Ubuntu,
    Cantarell, 'Open Sans', sans-serif;
}

button {
  border-radius: 10px;
  border: 1px solid transparent;
  padding: 8px 15px;
  font-size: 1em;
  font-weight: 400;
  color: #fff;
  font-family: 'Poppins';
  background-color: rgb(221, 150, 17);
  cursor: pointer;
}

.dark-theme {
  background-color: #333;
  color: #fff;
}

.light-theme {
  background-color: #fff;
  color: #333;
}
