.container {
  margin: auto;
  width: 40%;
  padding: 15px;
  display: flex;
  justify-content: center;
}
.main-card {
  background-color: rgba(221, 221, 221, 0.555);
  padding: 10px 20px;
}

.main-btn-d {
  background-color: black;
  color: rgb(221, 150, 17);
  border-radius: 15px 0 15x 0;
}
